<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie-Score</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<div class="container card-body">
    <h3>Login</h3>
    <div class="alert alert-danger" id="alert"></div>
    <form>
        <input id="username" type="text" class="form-control" placeholder="Username" autofocus required><br>
        <input id="password" type="password" class="form-control" placeholder="Password" required><br>
        <button class="btn btn-primary">Login</button>
    </form>
    <script src="login.controller.js"></script>
</div>
</body>
</html>